node_modules

.env

tmp/uploads/*
!tmp/uploads/.gitkeep
!tmp/uploads/80fa9a7d-ee4d-4f38-b24a-f5a11465473c/

src/resources/data/corpus/*
!src/resources/data/corpus/.gitkeep
!src/resources/data/corpus/80fa9a7d-ee4d-4f38-b24a-f5a11465473c-CRPC-sub-corpus-oral-espontEneo.json

src/resources/data/corpus-index/*
!src/resources/data/corpus-index/.gitkeep
!src/resources/data/corpus-index/80fa9a7d-ee4d-4f38-b24a-f5a11465473c-CRPC-sub-corpus-oral-espontEneo.json

src/resources/data/corpus-index-vetorial/*
!src/resources/data/corpus-index-vetorial/.gitkeep
!src/resources/data/corpus-index-vetorial/80fa9a7d-ee4d-4f38-b24a-f5a11465473c-CRPC-sub-corpus-oral-espontEneo.json